<div class="container">
    <h3 class="header text-muted text-center">
        <strong><i class="fa fa-github" aria-hidden="true"></i> API on Javascript, Rails, Php...  </strong>
    </h3>

    <div class="jumbotron">
        <h4 class="header">
            <strong><i class="fa fa-hand-o-right" aria-hidden="true"></i>Angular on Rails API...</strong>
        </h4>

        <p>
        <h4>
            <small>Secure and well tested API with devise gem for authentication, TODO App</small><strong class="text-danger"><br> working progress with angularjs frontend data handling...</strong>

        </h4>
        </p>
        <div class="row placeholders">
            <div class="col-md-6">
                <%= link_to '<strong>Demo app</strong><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>'.html_safe, 'https://enigmatic-oasis-8844.herokuapp.com/', class: 'btn btn-success', :target => '_blank' %>
            </div>
        </div>
        <br>

        <h4 class="header">
            <strong><i class="fa fa-hand-o-right" aria-hidden="true"></i> PHP learning stock trading...</strong>
        </h4>

        <p>
        <h4>
            <small><strike>Create secure account where 10000 USD will be deposited and choose a NASDAQ stocks to buy or sales and track your performances. No real money is involved just for learning purpose</strike></small>
           <h4 class="text-danger"><strong> Work in progress.....</strong></h4>
        </h4>
        </p>
        <div class="row placeholders">
            <div class="col-md-6">
                <%= link_to '<strong><strike>Demo app</strike></strong><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>'.html_safe, 'http://learningmarket.azurewebsites.net/', class: 'btn btn-success disabled', :target => '_blank' %>
            </div>
        </div>
        <br><br><br><br><br>
            <div class="container">
                <div class="text-center">
                    <%= link_to dashboard_index_path, class: 'btn btn-info' do %>
                        <i class="fa fa-arrow-left" aria-hidden="true"></i><strong> Back to Dashboard </strong>
                    <% end %>
                </div>
            </div>

    </div>
</div>

